
html {
	font-size: 14px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #b34848;
}

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #b34848;
    box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

h2.blog-post-title a {
	color: #b34848;
}

.blog-post-title a:hover {
	text-decoration: underline;
}

.comments {
	margin-top: 1em;
}

.comments ul {
	list-style: none;
}

.comments ul li:first-child {
	font-weight: bold;
}

.sidebar-module p a {
	font-size: 18px;
	color: #555;
}

#hideshow {
	margin-bottom: 1em;
}

.comments form {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	max-width: 80%;
}

.comments form * {
	margin-top: 0.5em;
	padding: 5px
}

.comments form input, textarea {
	border: 1px solid #333;
	border-radius: 10px;
}

.comments form input:last-child {
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid #007bff;
	color: #007bff;
	margin-bottom: 20px;
}

.comments form input:last-child:hover {
	background-color: #007bff;
	color: white;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.hidden {
	display: none;
}


.deletePost {
	margin-bottom: 20px;
	float: right;
}

.comments {
	clear: both;
}

.comments .deleteComm input {
	width: 20%;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid #007bff;
	color: #007bff;
}

.comments .deleteComm input:hover {
	background-color: #007bff;
	color: white;
}

.blog-post form {
	display: flex;
	flex-direction: column;
}

.blog-post form input, textarea {
	border: 1px solid #333;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.blog-post form input:last-child {
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid #007bff;
	color: #007bff;
	margin: 20px ;
}

.blog-post form input:last-child:hover {
	background-color: #007bff;
	color: white;
}

form label {
	font-size: 16px;
}